*{padding: 0px; margin: 0px;}
*{box-sizing: border-box;
border: 1px red solid}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style-type: none;
}

/* 헤더 CSS 부문 */

#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    margin: 15px auto;
    
}
#title{
    font-size: 30px;
    color: blue;
}
#font{
    color: black;
}
.sidebar{
    display: flex; 
}

.sidebar> li{
    margin:30px 0px 30px 30px;   
}

#header>.img-main{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px auto;
}
.img{
    width: 1280px; height: 400px;
}

.contents>.top-main{
    display: flex;
    flex-direction: row;
}
.bot-mainlist{
    background-color: #eeeeee;
}
.bot-main{
    display: flex;
    flex-direction: column;
}
.bot-main>.icon2{
    width: 200px; height: 100px;
    display: flex;
}
