*{padding: 0px; margin: 0px;}
*{box-sizing: border-box;

a{
    text-decoration: none;
    color: black;
}
li{
    list-style-type: none;
}

/* 헤더 CSS 부문 */

#header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 1280px;
    margin: 15px auto;
    
}
#title{
    font-size: 30px;
    color: blue;
    margin-left: 100px;
}
#font{
    color: black;
}
.sidebar{
    display: flex; 
    padding-right: 100px;
}

.sidebar> li{
    margin:30px 0px 30px 10px;
    
}

.img-main{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px auto;
        width: 100%;
}
.img{
    width: 1280px; height: 400px;
}

.contents>.top-main{
    display: flex;
    justify-content: center;
    padding: 50px;
}
.icon1{
    padding-right: 20px;
}
#여백{
    padding: 20px;
}
.bot-mainlist{
    display: flex;
    flex-direction:row;
    justify-content:center;
    background-color: #eeeeee;
}

.bot-main{
    padding:50px 30px 50px 30px;
    
    display: flex;
    flex-direction: column;
    ;
}

.icon2{
    width: 200px; height: 150px;
}

.bot-mainlist img {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    
}
#footer{
    background-color: #292c32;
    color: white;
    display: flex;
    justify-content: center;
    padding: 30px;
}
.ft-center{
    display: flex;
    flex-direction: column;
    margin: 0 50px;
}
.ft-right{
    display: flex;
    flex-direction: row;
    margin: 10px;
}
.ft-right img{
    margin-right: 20px;
}