/* 경계선 CSS  */

.division{
    display: flex;
    align-items: center; /* 수직 앙앙 정렬 */
    width: 400px;
}

.division::before , .division::after{ /* 선택자A,선택자B */
    content: ""; /* 가상요소에는 빈 문자열 */
    width: 100px;
    height: 1px;; /* 선의 굵기 */
    background-color: gray;
    margin: 0px 10px;
}
/* 드랍다운 메뉴1 CSS */
li{list-style-type: none;}
#header{    background-color: beige;}
#header > ul{display: flex; justify-content: center;}
#header > ul > li{
    list-style-type: none;
    padding:20px;
    position: relative;
}
#header .submenu{
    position: absolute;
    top: 50px; left: 0px; /* 본메뉴 바로 50px 아래 */
    background-color: red;
    padding: 10px;

    display: none; /* 화면에 표시하지 않는다. */

}

/* 만약에 해당 메뉴를 hover했을때 서브메뉴(드롭다운) 열기 
    .menu를 hover 했을때 .submenu에 CSS 적용
*/
#header> ul > .menu:hover .submenu{ display: block;}

/* 3. 드랍다운 메뉴2 CSS */
*{ padding: 0; margin: 0;}
#header2{background-color: skyblue;}
#header2 > ul { display: flex; justify-content: center;}
#header2 > ul > li{padding: 10px;}

#header2{ position: relative;}
#header2 .submenu2{
    position: absolute; /* 가장가까운 상위의요소 릴레이티브갖는 요소 기준점 */
    top: 40px;
    width: 100%;
    background-color: skyblue;
    display: none; /* hover전에 숨기기 */
}
/* 만약에 메뉴 구역을 hover했을때 서브메뉴 열기 */
#header2 > ul:hover .submenu2{ display: block;}























