/* ===============공통 CSS ============== */
*{
    padding: 0px; margin: 0 0;
    box-sizing: border-box;

}
li{list-style-type: none;}
a{color: black; text-decoration: none;}

/* =============== 레이아웃 CSS ==================== */
#wrap{width: 100%;}
#header{width: 1239px; height: 140px;
    display: flex;
    justify-content: center;
    margin: 0px auto;
}
#content{width: 100%;}
#footer{width: 100%;}

/* =============== 상단메뉴 CSS ================= */
.headerbox{width: 1200px;
display: flex;
flex-direction: column;}
#topMenu{display: flex;
justify-content: space-between;
padding:29px 0 0 0;}

#topMenu>li>a>#logo{        
    width: 155px; height: 34px;
    background-image: url("../day07/dominoImg/domino_logo.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 35%;
}
#topMenu>li>a{
    display: flex;
    font-size: 15px;
    font-weight: ;
}
#topMenu>li>a>#logo2{
    width: 18px; height: 18px;
    background-image: url("../day07/dominoImg/plane_logo.png");
    background-repeat: no-repeat;
    background-size: 160%;
    background-position: 70% 150%;
    padding-top: 21.5px;
    margin-right: 5px;
}
#centerWrite{
    border-bottom: 1px solid gray;
    padding-right: 80px;
    padding-bottom: 5px;
    margin-top: 10px;
}
#topMenu>li>#Rtopmenu{display: flex;
    align-items: center;

}
#topMenu>li>#Rtopmenu>li{
    padding:10px;
    font-size: 14px;
}
#topMenu>li>#Rtopmenu>#pad10{ /* 오른쪽 패딩x */
    padding: 10px 0px 10px 10px;    
}
#topMenu>li>#Rtopmenu>li>div>#languageBox{
    width: 60px; height: 27px;
    border: 1px solid #c0bfbf;
    border-radius: 13.5px;
    color: #9b9999;
    line-height: 27px;
    text-align: center;
    font-size: 12px;
    outline: none;
}

/* =============== 본메뉴 리스트 CSS ================= */
#mainMenu{

    font-size: 18px;
    padding: 14px 0px;
    display: flex;
    justify-content: space-between;
}
#mainMenu > a {
  position: relative;
  display: inline-block;
  padding-bottom: 3px;  /* 밑줄이 겹치지 않게 여백 */
  text-decoration: none;
  color: black;
}

#mainMenu > a::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: black;
  display: none;
}

#mainMenu > a:hover::after {
  display: block;
}

                /* 더보기 V 나란히 만들기 */
#moreBox{display: flex;
position: relative;}
                /* (더보기) V 백그라운드이미지 */
#moreimg{
    width: 21px; height: 21px;
    background-image: url("../day07/dominoImg/down_arrow.png");
    background-repeat: no-repeat;
    background-size: 110%;
    background-position:200% 100%;
}

#moreBoxWrap{position: relative;}
#moreBoxWrap .subMenu{
    position: absolute;
    top:50px;
    left:-1128px;
    display: none;
}
#moreBoxWrap:hover .subMenu{display: block;}

/* =============== 서브메뉴 리스트 CSS ================= */

.subMenu{padding:29px 0 40px;
background-color: white;
overflow: visible;
width: 100vw;
}
.subMenu>.inner-box>li>ul>li>div{
    font-size: 17px;
    font-weight: bold;
    width: 231px; height: 222px;    
}
.subMenu>.inner-box>li>ul>li>div>ul>li{
padding: 10px 0;
}

.subMenu>.inner-box>li>ul>li>div>ul>li{
    font-size: 15px;
    font-weight: normal;
}
.subMenu>.inner-box>li>ul>li{
    display: flex;
    justify-content: space-between;
}
.subMenu>.inner-box{
    width: 1200px; height: 222px;
    display: flex;
    justify-content: space-between
}
#subMenu_left>ul>li{
    display: flex;
    justify-content: space-between;
}

#subMenu_right{
    font-size: 18px;
    font-weight: bold;
    width: 270px; height: 156px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
#subMenu_right::before{
    content: "";
    display: inline-block;
    width: 1px; height: 155px;
    position: absolute;
    left: -164px;
    top: 10px;
    background-color: rgba(128, 128, 128, 0.473);
}
#subMenu_right>ul>li{
    font-size: 15px;
    font-weight: normal;
    padding: 10px 0;
    color: gray;
}






/* =============== 본문 CSS ================= */

/*======== 컨텐츠1 CSS (본문 맨위 대문사진)============= */
#content{}
#H_content1{
    width: 1920px; height: 495px;
    background-image: url(../day07/dominoImg/Hcontent.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

/* ===============컨텐츠2 CSS============ */
#H_content2{
    height: 280px;
}
#H_content2>ul{display: flex;
    justify-content: center;
    padding-top: 56px;
}
#H_content2>ul>li{
    width: 400px; height: 224px;
    padding-left: 70px;
}
#H_oder1{
    background-image:url(../day07/dominoImg/배달주문.png);
    background-repeat: no-repeat;
    width: 52x; height: 38px;
}
#H_font1{
    font-size: 42px;
    color: #ff143c;
}
#H_arrowRed{
    background-image: url(../day07/dominoImg/화살표1.png);
    background-repeat: no-repeat;
    width: 30px; height: 30px;
    background-size: contain;
    display: inline-block;
    margin-left: 9px;
}
#H_oder2{
    background-image:url(../day07/dominoImg/포장주문.png);
    background-repeat: no-repeat;
    width: 52px; height: 40px;
}
#H_font2{
    font-size: 42px;
    color: #1382ff;
}
#H_arrowBlue{
    background-image: url(../day07/dominoImg/화살표2.png);
    background-repeat: no-repeat;
    width: 30px; height: 30px;
    background-size: contain;
    display: inline-block;
    margin-left: 9px;
}
#H_oder3{
    background-image:url(../day07/dominoImg/퀵오더.png);
    background-repeat: no-repeat;
    width: 52px; height: 40px;
}
#H_font3{
    font-size: 42px;
    color: black;
}
#H_arrowBlack{
    background-image: url(../day07/dominoImg/화살표3.png);
    background-repeat: no-repeat;
    width: 32px; height: 32px;
    background-size: contain;
    display: inline-block;
    margin-left: 9px;
}
.H_gray{
    font-size: 16px;
    line-height: 1.5;
    color: #888;
    display: inline-block;
    margin: 17px 0 0;
}






/*================ 컨텐츠3 CSS================*/

#H_content3{
    height: 430px;
    padding: 110px 0;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
}
#H_innerL{
    width: 360px; height: 196px;
    padding-top: 10px;
}
#H_innerL>#H_Ltop{
    font-size: 28px;
    padding-bottom: 30px;
}
#H_innerL>#H_Ltop #H_blue{
    font-size: 28px;
    color: #238ece;
    font-weight: bold;
}
#H_Lbot>a{
    font-size: 16px;
    color: #ffffff;
    width: 103px; height: 43px;
    background-color: #222;
    border: 1px solid #222;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#H_innerR{
    width: 756px; height: 210px;
    display: flex;
    justify-content: center;
}
#H_Rbox1{
    width: 210px; height: 210px;
    margin-right: 6px;
    background-image: url(../day07/dominoImg/박스1.png);
}
#H_Rbox2{
    width: 210px; height: 210px;
    margin-right: 6px;
    background-image: url(../day07/dominoImg/박스2.png);
}
#H_Rbox3{
    width: 210px; height: 210px;
    margin-right: 6px;
    background-image: url(../day07/dominoImg/박스3.png);
}


/* ================컨텐츠4 CSS================= */

#H_content4{
    height: 561px;
    padding: 80px 0;
    border-bottom: 1px solid#dcdcdc;
}
#H_C4_inner{
    display: flex;
    justify-content: center;
}
#H_C4_inner>a>#H_C4_box1{
    width: 324px; height: 401px;
    background-image: url(../day07/dominoImg/con4박스1.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 15px;
    border: 1px solid #dcdcdc;

}
#H_C4_inner>a>#H_C4_box2{
    width: 324px; height: 401px;
    background-image: url(../day07/dominoImg/con4박스2.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 15px;
    border: 1px solid #dcdcdc;}
#H_C4_inner>a>#H_C4_box3{
    width: 324px; height: 401px;
    background-image: url(../day07/dominoImg/con4박스3.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 15px;
    border: 1px solid #dcdcdc;
}


/* =============== 푸터 CSS ================= */
/* =============== 푸터1 CSS ================= */

#footer{
    height: 449px;
}
.footer1-area{
    height: 349px;
    padding: 52px 0;
    display: flex;
    justify-content: center;
}
.footer2-area{
    height: 100px;
    padding: 30px 0;
    background-color:#f5f5f5;;
}
.Ft1inner-box{
    width: 1200px; height: 244px;
    display: flex;
    
    margin: 0 auto;

}
.footer-left{
    width: 1026px;   
}
.footer-order{
    height: 30px;
    display: flex;
    flex-direction: row;
}
.footerlogo{
    width: 123px; height: 26px;
    background-image: url(../day07/dominoImg/domino_logo.png);
    background-size:100%;
    background-position: 50% 35%;
    background-repeat: no-repeat;
}
#numbersize{
    font-size: 30px;
    line-height: 0.7;
    margin: 0 0 0 13px;
    font-weight: 600;
}
.footer-contact{
    height: 36px;
    margin: 15px 0 0;
    display: flex;
}
.footer-contact>li>a{
    padding: 10px 10px 10px 0px;
    font-size: 16px;
    color: #888;
}
.FCbold{
    color: #000000;
    font-weight: bold;
}

.footer-info{
    height:138px;
    margin: 25px 0 0;
}
.footer-info>p{
    font-size: 12px;
    color: #888;
}
.notice{
    margin: 12px 0 0;
}
.footer-right{
    width: 174px; height: 240px;
}
.language-box{
    position: relative;
}
#Korbox{
    border: none;
    border-bottom: 1px #888 solid;
    outline: none;
    padding-right: 128px;
    color: #888;
}

.app-box{
    width: 174px; height: 26px;
    font-size: 14px;
    margin: 22px 0 0;
    display: flex;
}
.app-box>div{
    font-size: 13px;
}
#ftapple{
    background-image: url(../day07/dominoImg/apple_logo.png);
    width: 20px; height: 26px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: 10px;
}
#ftstore{
    background-image: url(../day07/dominoImg/playstore_logo.png);
    width: 22px; height: 23px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: 15px;
}
.sns-box{
    height: 138px;
    display: flex;
    align-items: end;
}
#ftblog{
    background-image: url(../day07/dominoImg/blog_icon.png);
    width: 13px; height: 20px;
    background-repeat: no-repeat;
    background-size: 230%;
    background-position: 75% 50%;
    margin-left: 10px;
}
#ftinsta{
    background-image: url(../day07/dominoImg/insta_icon.png);
    width: 21px; height: 21px;
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: 55% 40%;
    margin-left: 15px;
}
#ftface{
    background-image: url(../day07/dominoImg/facebook_icon.png);
    width: 11px; height: 22px;
    background-repeat: no-repeat;
    background-size: 260%;
    background-position: 60% 60%;
    margin-left: 15px;
}
#ftyoutube{
    background-image: url(../day07/dominoImg/youtube_icon.png);
    width: 25px; height: 19px;
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: 70% 65%;
    margin-left: 15px;
}
#ftX{
    background-image: url(../day07/dominoImg/X_icon.png);
    width: 23px; height: 19px;
    background-repeat: no-repeat;
    background-size: 115%;
    background-position: 50% 55%;
    margin-left: 15px;
}
/* =============== 푸터2 CSS ================= */

.Ft2inner-box>ul{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 1200px; height: 40px;

} 
.Ft2inner-box>ul>li{
display: flex;
    
} 
.Ft2inner-box>ul>li>img{
    display: inline-block;
}
#FT2img1{
    width: 37xp;height: 37px;
} 
#FT2img2{
    width: 30xp;height: 40px;
} 
#FT2img3{
    width: 41xp;height: 28px;
} 
#FT2img4{
    width: 41xp;height: 28px;
} 
#FT2img5{
    width: 45xp;height: 35px;
} 
#FT2img6{
    width: 36xp;height: 38px;
} 
.Ft2inner-box>ul>li>p{
        margin-right:15px;
    padding-left: 7px;;
    font-size: 11px;
    color: #888;
}









/* 팝업 광고창 CSS */
#popup>img{
    width: 165px; height: 157px;
    position: fixed;
    top:208px;
    right: 140px;
    z-index: 2;
}
#popup>input{
    width: 24px; height: 24px;
    position: fixed;
    top:208px;
    right: 140px;
    z-index: 999;
    cursor: pointer;
    background:none;
    border: none;
    font-size: 21px;
    font-weight: bold;
}

