/* ===============공통 CSS ============== */
*{
    padding: 0px; margin: 0 0;
    box-sizing: border-box;
}
li{list-style-type: none;}
a{color: black; text-decoration: none;}

/* =============== 레이아웃 CSS ==================== */
#wrap{}
#header{width: 100%;}
#content{width: 1920px; margin:0 auto}
#footer{width: 100%;}

/* =============== 상단메뉴 CSS ================= */
.headerbox{
    width: 1200px; height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}
#topMenu{
    width: 100%;
    display: flex; justify-content:space-between;
    align-items: center;
    padding:18px 0px 0px 0px;
    margin: 0px auto;
}

#topMenu>li>a>#logo{        
    width: 155px; height: 34px;
    background-image: url("../day07/domino_logo.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 35%;
}
#topMenu>li>a{
    display: flex;
    font-size: 15px;
    font-weight: bold;
}
#topMenu>li>a>#logo2{
    width: 18px; height: 18px;
    background-image: url("../day07/plane_logo.png");
    background-repeat: no-repeat;
    background-size: 160%;
    background-position: 70% 150%;
    padding-top: 21.5px;
    margin-right: 5px;
}
#centerWrite{
    border-bottom: 1px solid gray;
    padding-right: 84px;
    padding-bottom: 5px;
    margin-top: 10px;
}
#topMenu>li>#topRmenu{
    display: flex;
}
#topMenu>li>#topRmenu>li{
    padding:15px 0px 0px 20px;
    font-size: 14px;
}
#topMenu>li>#topRmenu>li>div>#languageBox{
    width: 60px; height: 27px;
    border: 1px solid #c0bfbf;
    border-radius: 13.5px;
    color: #9b9999;
    line-height: 27px;
    text-align: center;
    font-size: 12px;
    outline: none;
}

/* =============== 본메뉴 리스트 CSS ================= */
#mainMenu{
    width: 100%;
    display: flex;
    margin: 0 auto;
    font-size: 18px;
    padding: 14px 0px;
}
                /* 더보기 V 나란히 만들기 */
#moreBox{
    display: flex;
}
                /* (더보기) V 백그라운드이미지 */
#more{
    width: 21px; height: 21px;
    background-image: url("../day07/down_arrow.png");
    background-repeat: no-repeat;
    background-size: 110%;
    background-position:200% 100%;
}

.subMenu>ul{
    display: flex;
    display: none;
}

/* =============== 푸터 CSS ================= */
.footer-order{display: flex;
justify-content: space-between;}

.footer-order>img{width: 123px; height: 50px;
}
#number_size{
    font-size: 30px;
    font-weight: bold;
    margin-left: 13px;}


