/* 누구를{ 무엇을 : 어떻게; }*/

/* 웹폰트 : 폰트 저작권 주의 :
    무료 한글 폰트 : https://noonnu.cc/ 에서 웹폰트 코드 복사 
    무료 영문 폰트 : https://fonts.google.com/ */
@font-face {
    font-family: 'Ownglyph_ParkDaHyun';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


.title{
    font-family: "궁서" ;   /* 글꼴/폰트 : 현재 PC설치된 글꼴 가능 */
    font-size: 40px;        /* 글자크기 , px(픽셀) */
    font-style: italic;     /* 글꼴 기울기 */
    font-weight: bold;      /* 글꼴 진하게 : h마크업은 기본값 */
}

.content{
    font-family: 'Ownglyph_ParkDaHyun';     /* 글꼴 */
    color: purple;                        /* 글꼴 색상 */
    word-spacing: 20px;                     /* 단어 간격 : 어간 */
    letter-spacing: 10px;                   /* 글자 간격 : 자간 */
    line-height: 150% ;                     /* 줄 간격 , % */
    
}

.writer{
    text-align : center;             /* 텍스트 가로 정렬 : left,right,center */
    /* 텍스트 선긋기 : underline(밑줄) , overline(윗줄) , line-through(취소선) */
    text-decoration : underline overline line-through ;           
    /* 텍스트 그림자 : x축 y축 흐림정도 색상 */
    text-shadow : 10px -10px 5px red ; 
    /* 색상 : 3가지 ( 1. 색상명 2.RGB 3.헥스코드 ) */
    color: green; /* 1.색상명 */
    color: rgb( 140 , 200 , 100 ); /* 2.RGB */
    color: #000000; /* 3.헥스코드*/
}
    